@{
	ViewBag.Title = "Terms of service & Privacy policy";
}

<h1 class="page-header">Terms of service &amp; Privacy policy</h1>

<p>
	The following terms and conditions govern all use of the haloshare.net website and all content, services and products available through the website (collectively referred to as the Site).
<p>
<p>
	Please read this Agreement carefully before accessing or using the Site. By accessing or using any part of the web site, you agree to become bound by the terms and conditions of this agreement.
	If you do not agree to all the terms and conditions of this agreement, then you may not access the Site or use any services.
</p>

<h3>Account</h3>
<p>
	You are responsible for maintaining the security of your account, and you are fully responsible for all activities that occur under the account and any other actions taken in connection with the account.
	You must immediately notify HaloShare of any unauthorized use of your account or any other breaches of security. HaloShare will not be liable for any acts or omissions by You, including an damages of any kind incurred as a result of such acts or omissions.
</p>

<h3>Contribution to website</h3>
<p>
	If you leave comments anywhere on the Site, post material to the Site, post links on the Site, or otherwise make (or allow any third party to make) material available by means of the Site (any such material, "Content"), You are entirely responsible for the content of, and any harm resulting from, that Content. That is the case regardless of whether the Content in question constitutes text, graphics, audio, or computer software. By making Content available, you represent and warrant that:

	<ul>
		<li>Downloading, copying and use of the Content will not infringe the proprietary rights, including but not limited to the copyright, patent, trademark or trade secret rights, of any third party</li>
		<li>You have fully complied with any third-party licenses relating to the Content, and have done all things necessary to successfully pass through to end users any required terms</li>
		<li>The Content does not contain or install any viruses, worms, malware, trojan horses or other harmful or destructive content</li>
		<li>The Content is not spam, is not machine or randomly generated, and does not contain unethical or unwanted commercial content designed to drive traffic to third party sites or boost the search engine rankings of third party sites, or to further unlawful acts (such as phishing) or mislead recipients as to the source of the material (such as spoofing)</li>
		<li>The Content is not pornographic, libelous or defamatory, does not contain threats or incite violence towards individuals or entities, and does not violate the privacy or publicity rights of any third party</li>
	</ul>
</p>
<p>
	By submitting Content to HaloShare for inclusion on our Site, you grant HaloShare a world-wide, royalty-free, and non-exclusive license to reproduce, modify, adapt and publish the Content for the purpose of displaying, distributing, promoting, marketing or any other lawful use.
</p>
<p>
	Without limiting any of those representations or warranties, HaloShare has the right (though not the obligation) to, in HaloShare's sole discretion (i) refuse or remove any content that, in HaloShare's reasonable opinion, violates any policy or is in any way harmful or objectionable, or (ii) terminate or deny access to and use of the Site to any individual or entity for any reason, in HaloShare's sole discretion. HaloShare will have no obligation to provide a refund of any amounts previously paid under these circumstances.
</p>

<h3>What information do we collect?</h3>
<p>
	We may collect personally identifiable information from you in a variety of ways, including through online forms and services, and other instances where you are invited to volunteer such information, including, but not limited to, when you register on our site, post reactions, upload content. When registering on our site, as appropriate, you may be asked to enter your: username and e-mail address.
</p>

<h3>What do we use your information for?</h3>
<p>
	Any of the information we collect from you may be used to personalize your experience, improve our website, improve customer service. The email address your provided for registering, will only be used to send information and updates pertaining to your account.
</p>

<h3>How do we protect your information?</h3>
<p>
	We implement a variety of security measures to maintain the safety of your personal information when you access your personal information.
</p>
<p>
	We offer the use of a secure server. All supplied information is transmitted via Secure Socket Layer (SSL) technology.
</p>

<h3>Responsibility of website visitors</h3>
<p>
	By operating the Site, HaloShare does not represent or imply that it endorses any or all of the contributed content, or that it believes such material to be accurate, useful or non-harmful.You are responsible for taking precautions as necessary to protect yourself and your computer systems from viruses, worms, trojan horses, and other harmful or destructive content. The Site may contain content that is offensive, indecent, or otherwise objectionable, as well as content containing technical inaccuracies, typographical mistakes, and other errors. HaloShare disclaims any responsibility for any harm resulting from the use by visitors of the Site.
</p>

<h3>Do we disclose any information to outside parties?</h3>
<p>
	We do not sell, trade, or otherwise transfer to outside parties your personally identifiable information, except to provide products or services you've requested. This does not include trusted third parties who assist us in operating our website, conducting our business, or servicing you, so long as those parties agree to keep this information confidential. We may also release your information when we believe release is appropriate to comply with the law, enforce our site policies, or protect ours or others rights, property, or safety. However, non-personally identifiable visitor information may be provided to other parties for marketing, advertising, or other uses.
</p>

<h3>Do we use cookies?</h3>
<p>
	Yes, we use cookies (which are small pieces of information that your browser stores on your computer's hard drive) to help us understand and save your preferences for future visits and compile aggregate data about site traffic and site interaction so that we can offer better site experiences and tools in the future. We may contract with third-party service providers to assist us in better understanding our site visitors. These service providers are not permitted to use the information collected on our behalf except to help us conduct and improve our business.
</p>

<h3>Third party links</h3>
<p>
	Our site may contain links to third party sites. These third party sites have separate and independent privacy policies. We therefore have no responsibility or liability for the content and activities of these linked sites. Nonetheless, we seek to protect the integrity of our site and welcome any feedback about these sites.
</p>

<h3>Intellectual property</h3>
<p>
	This Agreement does not transfer from HaloShare to you any of HaloShare's or third party intellectual property, and all right, title and interest in and to such property will remain (as between the parties) solely with HaloShare. HaloShare logo, and all other trademarks, service marks, graphics and logos used in connection with HaloShare, or the Site are trademarks or registered trademarks of HaloShare or HaloShare's licensors. Other trademarks, service marks, graphics and logos used in connection with the Site may be the trademarks of other third parties. Your use of the Site grants you no right or license to reproduce or otherwise use any the HaloShare or third-party trademarks.

	Halo © Microsoft Corporation. HaloShare was created under Microsoft's "<a href="http://www.xbox.com/en-US/developers/rules">Game Content Usage Rules</a>" using assets from Halo, and it is not endorsed by or affiliated with Microsoft.
</p>

<h3>Changes</h3>
<p>
	HaloShare reserves the right, at its sole discretion, to modify or replace any part of this Agreement. It is your responsibility to check this Agreement periodically for changes. Your continued use of or access to the Site following the posting of any changes to this Agreement constitutes acceptance of those changes. HaloShare may also, in the future, offer new services and/or features through the Site (including, the release of new tools and resources). Such new features and/or services shall be subject to the terms and conditions of this Agreement.
</p>

<h3>Termination</h3>
<p>
	HaloShare may terminate your access to all or any part of the Site at any time, with or without cause, with or without notice, effective immediately. If you wish to terminate this Agreement you may simply discontinue using the Site. Notwithstanding the foregoing, if you have an account, such account can only be terminated by HaloShare if you materially breach this Agreement and fail to cure such breach within 14 (fourteen) days from HaloShare's notice to you thereof; provided that, HaloShare can terminate the Site immediately as part of a general shut down of our service. All provisions of this Agreement which by their nature should survive termination shall survive termination, including, without limitation, ownership provisions, warranty disclaimers, indemnity and limitations of liability.
</p>

<h3>Disclaimer of warranties</h3>
<p>
	The Site is provided "as is". HaloShare and its suppliers and licensors hereby disclaim all warranties of any kind, express or implied, including, without limitation, the warranties of merchant ability, fitness for a particular purpose and non-infringement. Neither HaloShare nor its suppliers and licensors, makes any warranty that the Site will be error free or that access thereto will be continuous or uninterrupted. You understand that it is your responsibility to ensure that the privacy policy you create is complete, accurate, and meets your companies specific privacy needs. We are not liable or responsible for any privacy policies created using our services, and we give no representations or warranties, express or implied, that the privacy policies created using our service are complete, accurate or free from errors or omissions.
</p>

<h3>Limitation of liability</h3>
<p>
	In no event will HaloShare, or its suppliers or licensors, be liable with respect to any subject matter of this agreement under any contract, negligence, strict liability or other legal or equitable theory for: (i) any special, incidental or consequential damages; (ii) the cost of procurement or substitute products or services; (iii) for interruption of use or loss or corruption of data; or (iv) for any amounts that exceed the fees paid by you to HaloShare under this agreement. HaloShare shall have no liability for any failure or delay due to matters beyond their reasonable control. The foregoing shall not apply to the extent prohibited by applicable law. HaloShare shall not be liable for any special or consequential damages that result from the use of, or the inability to use, the services and products offered on this site, or the performance of the services and products.
</p>

<h3>General representation and warranty</h3>
<p>
	You represent and warrant that (i) your use of the Site will be in strict accordance with the HaloShare Privacy Policy, with this Agreement and with all applicable laws and regulations (including without limitation any local laws or regulations in your country, state, city, or other governmental area, regarding online conduct and acceptable content, and including all applicable laws regarding the transmission of technical data exported from the United States or the country in which you reside) and (ii) your use of the Site will not infringe or misappropriate the intellectual property rights of any third party.
</p>

<h3>Indemnification</h3>
<p>
	You agree to indemnify and hold harmless HaloShare, its contractors, and its licensors, and their respective directors, officers, employees and agents from and against any and all claims and expenses, including attorneys' fees, arising out of your use of the Site, including but not limited to your violation of this Agreement.
</p>

<h3>Miscellaneous</h3>
<p>
	This Agreement constitutes the entire agreement between HaloShare and you concerning the subject matter hereof, and they may only be modified by a written amendment signed by an authorized executive of HaloShare, or by the posting by HaloShare of a revised version. Except to the extent applicable law, if any, provides otherwise, this Agreement, any access to or use of the Site will be governed by the laws of the state of Virginia, United Sates, excluding its conflict of law provisions, and the proper venue for any disputes arising out of or relating to any of the same will be the state and federal courts located in Richmond, Virginia. If any part of this Agreement is held invalid or unenforceable, that part will be construed to reflect the parties' original intent, and the remaining portions will remain in full force and effect. A waiver by either party of any term or condition of this Agreement or any breach thereof, in any one instance, will not waive such term or condition or any subsequent breach thereof. You may assign your rights under this Agreement to any party that consents to, and agrees to be bound by, its terms and conditions; HaloShare may assign its rights under this Agreement without condition. This Agreement will be binding upon and will inure to the benefit of the parties, their successors and permitted assigns.
</p>

<h3>Changes to our terms and privacy policies</h3>

<p>
	From time to time we may make adjustments to this policy. Changes will be made at our sole discretion. Site's users are encouraged to check this policy for such changes. Your continued use of this site following changes to this policy constitutes your acceptance of the changes.
</p>

<p>
	This document has been last modified on May 3rd, 2015
</p>