<div class="modal fade" id="modal-dwnlnag">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Downloading files from HaloShare</h4>
            </div>
            <div class="modal-body">
                HaloShare uses a custom protocol to download variants using the Dewrito Launcher. <br />
                Variants will be downloaded to <code>mods/forge</code> or <code>mods/variants</code> for forge variants and game variants respectively.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" onclick="dwnlNag('manual')">Manual Download</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="dwnlNag('blam')">I Understand, Download.</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->